<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <title>نرم‌افزار جامع هادی</title>
    <link rel="stylesheet" href="<%= assets_path %>/stylesheets/css/application.css" />
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="<%= node_modules_path %>/materialize-css/dist/js/materialize.min.js"></script>
    <script src="<%= node_modules_path %>/jquery/dist/jquery.min.js"></script>
    <script src="<%= node_modules_path %>/autosize/dist/autosize.min.js"></script>
    <script src="<%= node_modules_path %>/moment/min/moment.min.js"></script>
    <script src="<%= node_modules_path %>/moment-jalaali/build/moment-jalaali.js"></script>
    <script src="<%= assets_path %>/javascripts/extensions.js"></script>
    <script src="<%= assets_path %>/javascripts/backbone.js"></script>
    <script src="<%= assets_path %>/javascripts/application.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    <style media="screen">
      #sidebar li:not(.header) {
        padding: 10px 20px 20px 0px;
        font-size: 20px
      }
      #sidebar li .fa,
      #sidebar li .fas,
      #sidebar li .material-icons {
        position: relative;
        top: 10px;
        padding-left: 10px;
        font-size: 2.5rem;
      }
      #sidebar li .fa-spinner,
      #sidebar li .fa-chevron-left {
        display: none;
      }
      #sidebar li.onloading .fa-spinner {
        display: inline-block;
      }
      #sidebar li.onloading .fa:not(.fa-spinner),
      #sidebar li.onloading .material-icons {
        display: none;
      }
      #sidebar li.active .fa-chevron-left,
      #sidebar li:hover .fa-chevron-left {
        display: inline;
      }
      #sidebar li:not(.header).active,
      #sidebar li:not(.header):hover {
        cursor: pointer;
        font-size: 22px;
        box-shadow: 0 0 15px 0
      }
      #sidebar li:not(.header):nth-child(3n).active,
      #sidebar li:not(.header):nth-child(3n):hover {
        /* blue */
        color: #007bff;
        border-color: #007bff !important
      }
      #sidebar li:not(.header):nth-child(3n + 1).active,
      #sidebar li:not(.header):nth-child(3n + 1):hover {
        /* green */
        color: #28a745;
        border-color: #28a745 !important
      }
      #sidebar li:not(.header):nth-child(3n + 2).active,
      #sidebar li:not(.header):nth-child(3n + 2):hover {
        /* red */
        color: #dc3545;
        border-color: #dc3545 !important
      }
    </style>
  </head>
  <body class="font-fa">
    <div class="row">
      <ul id="sidebar" class="col s12 m3 right-aligned fa" style="background-color: #ffffff66; border-left: 2px solid #aaaf8133; position: fixed; top: -20px; height: 110%;">
        <li class="center-align header" style="position: relative; top: 50px">
          <div class="user-view">
            <div class="background">
              <img src="<%= assets_path %>/images/naja.png" height="140">
            </div>
          </div>
        </li>
        <li class="border height-80 w-100 active" style="margin-top: 110px;" href="/home/main">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="material-icons">home</span> صفحه اصلی
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/banners">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="material-icons">photo_camera</span> بنرها
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/books">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="fa fa-book"></span> کتابخانه</a>
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/cds">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="material-icons">donut_small</span> لوح فشرده
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/sundries">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="fa fa-ellipsis-h"></span> اقلام فرهنگی
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/units">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="material-icons">blur_on</span> یگان‌ها
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" href="/home/about">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="fas fa-info-circle"></span> درباره برنامه
          <span class="fa fa-chevron-left left"></span>
        </li>
        <li class="border height-80 w-100" style="margin-top: 20px;" onclick="require('electron').remote.getCurrentWindow().close()">
          <span class="fa fa-spinner fa-spin"></span>
          <span class="fa fa-times"></span> خروج از برنامه
          <span class="fa fa-chevron-left left"></span>
        </li>
      </ul>

      <script type="text/javascript">
        $(function() {
          $("#sidebar li:not(.header)[href]").click(function(e) {
            e.preventDefault();
            $(this).addClass('onloading')
            goto($(this).attr('href'))
          })
        })
      </script>

      <div class="col s12 m9 pr-10 pt-15">
