<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <title>ShoppingList</title>
    <link rel="stylesheet" href="<%= assets_path %>/stylesheets/css/application.css" />
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="<%= node_modules_path %>/materialize-css/dist/js/materialize.min.js"></script>
    <script src="<%= node_modules_path %>/jquery/dist/jquery.min.js"></script>
    <script src="<%= node_modules_path %>/autosize/dist/autosize.min.js"></script>
    <script src="<%= node_modules_path %>/moment/min/moment.min.js"></script>
    <script src="<%= node_modules_path %>/moment-jalaali/build/moment-jalaali.js"></script>
    <script src="<%= assets_path %>/javascripts/extensions.js"></script>
    <script src="<%= assets_path %>/javascripts/backbone.js"></script>
    <script src="<%= assets_path %>/javascripts/application.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
  </head>
  <body class="font-fa">
    <div class="row">
      <ul id="slide-out" class="col s2 sidenav sidenav-fixed right-aligned fa">
        <li class="center-align">
          <div class="user-view" style="height: 150px">
            <div class="background">
              <img src="<%= assets_path %>/images/naja.png" height="140">
            </div>
          </div>
          <p class="font-fa-nastaliq font-30 line-height-64" style="font-weight: 100;">
            سامانه جامع مدیریت اقلام فرهنگی<br />
            عقیدتی-سیاسی
            «هادی»
          </p>
        </li>
        <li><a href="/home/main" class="font-20"><span class="material-icons">home</span> صفحه اصلی</a></li>
        <li><a href="/home/banners" class="font-20"><span class="material-icons">photo_camera</span> بنرها</a></li>
        <li><a href="/home/books" class="font-20"><span class="fa fa-book"></span> کتابخانه</a></li>
        <li><a href="/home/cds" class="font-20"><span class="material-icons">donut_small</span> لوح فشرده</a></li>
        <li><a href="/home/sundries" class="font-20"><span class="fa fa-ellipsis-h"></span> اقلام فرهنگی</a></li>
        <li><a href="/home/units" class="font-20"><span class="material-icons">blur_on</span> یگان‌ها</a></li>
        <li><a href="#!" class="red-text" onclick="require('electron').remote.getCurrentWindow().close()"><span class="fas fa-sign-out-alt fa-2x ml-5"></span> خروج از برنامه</a></li>
      </ul>

      <style media="screen">
        #slide-out.sidenav .material-icons,
        #slide-out.sidenav .fas { position: relative; top: 7px }
      </style>

      <div class="col s10 pr-10 pt-15">
